*{ /*selector universal*/
    box-sizing: border-box;
    margin: 0;
    font-family: roboto, sans-serif;
}

section{
    width: 1350px;
    height: max-content;
}

.barrasuperior{
    width: 1350px;
    height: auto;
    background-color: #4CC9FE;
    position: relative;
    left: 200px;
    margin-left: 200px;

}

nav{
    width: 1350px;
    height: 50px;
    background-color:  #37AFE1;
    position: absolute;
    margin-left: 200px;
    left: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden; 
}

nav a{
    color: #d8d8d8;
    text-align: center;
    text-decoration: none;
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: .8s;
}

nav a:hover{
    background-color: #4CC9FE;
    transform: scale(1.2);
}

header{
    position: absolute;
    left: 200px;
    margin-left: 200px;
    margin-top: 50px;
}

.barraizquierda{
    width: 200px;
    height: 2120px;
    background-color: rgb(255, 254, 203);
    position: absolute;
    float: left;
}

.barraizquierda img{
    margin-top: 250px;
}

.columnaizquierda{
    position: absolute;
    width: 500px;
    margin-left: 200px;
    left: 200px;
    top: 350px;
}

.columnaderecha{
    position: absolute;
    width: 500px;
    margin-left: 500px;
    left: 500px;
    top: 350px;
}

.textoderechainicial{
    background-color: #8EACCD;
}

.textoderechamedio{
    background-color: #DEE5D4;
}

.textoderechafinal{
    background-color: #D2E0FB;
}

.piedepagina{
    position: absolute;
    width: 1350px;
    height: 50px;
    left: 200px;
    margin-left: 200px;
    margin-top: 2070px;
    background-color: #FFFECB;
}